<script
	id="bolt-connect"
	type="text/javascript"
	src="https://connect.bolt.com/connect-bigcommerce.js"
	data-publishable-key="uBvrMAPss-PG.vqYYtsZUqEa8.47a1ee992a89a087d4947315d6b26392425ffe1e94669201bae492e1603abaa1"
	data-storefront-api-token="{{settings.storefront_api.token}}"
>
</script>

<script>
    if (window.BoltCheckout && window.BoltCheckout.reloadBigCommerceCart) {
        window.BoltCheckout.reloadBigCommerceCart();
    } else {
        console.log("window.BoltCheckout.reloadBigCommerceCart is not defined");
    }
</script>

<style>
    .previewCartAction-viewCart {
        width: 100%;
        padding: 0;
    }
    
    .previewCartAction-viewCart .button {
        height: 48px;
        padding: 15px .78571rem;
    }
    
</style>

<div class="previewCartWrapper">
  <div class="previewCart">
    {{#if cart.items.length}}
        <ul class="previewCartList">
            {{#each (limit cart.items 4)}}
                <li class="previewCartItem">
                    <div class="previewCartItem-image">
                        {{#if type '==' 'GiftCertificate'}}
                            <img
                                alt="GiftCertificate"
                                title="GiftCertificate"
                                src="{{cdn ../theme_settings.default_image_gift_certificate}}"
                            >
                        {{else}}
                            {{> components/common/responsive-img
                                image=image
                                fallback_size=../theme_settings.productthumb_size
                                lazyload=../theme_settings.lazyload_mode
                                default_image=../theme_settings.default_image_product
                            }}
                        {{/if}}
                    </div>
                        <div class="previewCartItem-content">
                            <span class="previewCartItem-brand">
                                {{brand.name}}
                            </span>

                            <h6 class="previewCartItem-name">
                                <a href="{{url}}" alt="{{name}}" title="{{name}}">{{name}}</a>
                            </h6>

                            <span class="previewCartItem-price">
                                {{#if quantity '>' 1}}
                                    {{quantity}} &times;
                                {{/if}}
                                {{#or ../customer (if ../theme_settings.restrict_to_login '!==' true)}}
                                    <span{{#if price_discounted}} class="price--discounted"{{/if}}>{{price.formatted}}</span>
                                    {{#if price_discounted}}
                                        {{price_discounted.formatted}}
                                    {{/if}}
                                {{else}}
                                    {{> components/common/login-for-pricing}}
                                {{/or}}
                            </span>
                        </div>
                    </li>
                {{/each}}
            </ul>
            <div class="previewCartAction">
                <div data-tid="instant-bolt-checkout-button">
                    <object data="https://connect.bolt.com/v1/checkout_button?publishable_key=uBvrMAPss-PG.vqYYtsZUqEa8.47a1ee992a89a087d4947315d6b26392425ffe1e94669201bae492e1603abaa1">
                    </object>
                </div>

                {{#if cart.show_primary_checkout_button}}
                    <div class="previewCartAction-checkout">
                        <a href="{{urls.checkout.single_address}}" class="button button--small button--primary" style="display:none;">
                            {{lang 'cart.preview.checkout_now'}}
                        </a>
                    </div>
                {{/if}}

                <div class="previewCartAction-viewCart{{#unless cart.show_primary_checkout_button}} previewCartAction-viewCart--sole{{/unless}}">
                    <a href="{{urls.cart}}" class="button button--small button--action">
                        {{lang 'cart.preview.view_cart'}}
                    </a>
                </div>

                {{#if cart.show_multiple_address_shipping}}
                    <div class="previewCartAction-checkoutMultiple">
                        <a href="{{urls.checkout.multiple_address}}">
                            {{lang 'cart.preview.checkout_multiple'}}
                        </a>
                    </div>
                {{/if}}
            </div>
            {{#if cart.additional_checkout_buttons}}
                <div class="previewCart-additionalCheckoutButtons">
                    {{#each cart.additional_checkout_buttons}}
                        {{{this}}}
                    {{/each}}
                </div>
            {{/if}}
        {{else}}
            <div role="alert" aria-live="polite" aria-atomic="false" class="previewCart-emptyBody">
                {{lang 'cart.checkout.empty_cart'}}
            </div>
        {{/if}}
    </div>
</div>
