<a href="#main-content" class="skip-to-main-link">{{lang 'header.skip_to_main'}}</a>
{{#if banners.top}}
<div class="banners" data-banner-location="top">
    {{#each (limit banners.top_metadata 1)}}
    <div class="banner" data-event-type="promotion" data-entity-id="{{this.id}}" data-name="{{this.banner-name}}" data-position="{{this.location}}" data-banner-id="{{this.banner-name}}">
        <div data-event-type="promotion-click">
            {{{this.content}}}
        </div>
    </div>
    {{/each}}
</div>
{{/if}}
<header class="preheader">
    <div class="preheader-rewards"><a href="#"><img src="/assets/img/PTRewardsLogoHeader2x.png"></a></div>
    <div class="preheader-shipping"><a href="#">Free Shipping On All Orders</a></div>
    <div class="preheader-contact"><a href="#">Stores</a>   
     <a  data-dropdown="support-dropdown" data-options="align:right" class="more">Help & Support&nbsp;<i class="fas fa-chevron-down"></i></a>
            <div class="dropdown-menu preheader-drop" id="support-dropdown" data-dropdown-content aria-hidden="true">
                <ul>
                    <li>
                        <a href="#">Order Status</a>
                    </li>
                    <li>
                        <a href="#">Gift Certificate</a>
                    </li>
                    <li>
                        <a href="#">Shipping & Returns</a>
                    </li>
                    <li>
                        <a href="#">Wholesale</a>
                    </li>
                    <li>
                        <a href="#">Affiliate</a>
                    </li>
                    <li>
                        <a href="#">FAQs</a>
                    </li>
                </ul>
            </div>
    
            <a  data-dropdown="contact-dropdown" data-options="align:right" class="more">Contact&nbsp;Us&nbsp;<i class="fas fa-chevron-down"></i></a>
            <div class="dropdown-menu preheader-drop" id="contact-dropdown" data-dropdown-content aria-hidden="true">
                <p><a href="#"><img src="/assets/icons/icon-chat.svg"> Chat with Us</a></p>
                <p><a href="mailto:cs@planttherapy.com"><img src="/assets/icons/icon-email.svg"> Email Us</a></p>
                <br>
                <span>Sales: <a href="tel:8009176577">800-917-6577</a><br>
                Wholesale <a href="tel:8889126293">888-912-6293</a><br>
                Mon-Sat 6am to 10pm MT US<br>
                Sun 8am to 6pm MT US
                </span>

            </div></div>
</header>
<header class="header" role="banner">

    <a href="#" class="mobileMenu-toggle" data-mobile-menu-toggle="menu">
        <span class="mobileMenu-toggleIcon">Toggle menu</span>
    </a>
    {{> components/common/navigation}}

    {{#if page_type '===' 'default'}}
        <h1 class="header-logo header-logo--{{theme_settings.logo-position}}">
            {{> components/common/store-logo}}
        </h1>
    {{else}}
        <div class="header-logo header-logo--{{theme_settings.logo-position}}">
            {{> components/common/store-logo}}
        </div>
    {{/if}}
    <div class="navPages-container" id="menu" data-menu>
        {{> components/common/navigation-menu}}
    </div>
</header>
{{{region name="header_bottom--global"}}}
{{{region name="header_bottom"}}}
