---
blog:
    posts:
        limit: 10
        pages: 3
        summary: 200
---
{{#partial "page"}}

{{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}



<main class="page">
    {{#unless theme_settings.hide_blog_page_heading }}
        <!--<h1 class="page-heading">{{ blog.name }}</h1>-->
    {{/unless}}
    <div class="blog-nav">
        <a href="/blog/"><img src="//cdn.planttherapy.com/images/web/global/Everyday-Essentials.png" alt="Everyday Essentials by Plant Therapy"></a>

        <ul>
            <li class="cat-item"><a href="/blog/tag/body+care">Body &amp; Skin Care</a>
            </li>
            <li class="cat-item"><a href="/blog/tag/DIYs">DIYs</a>
            </li>
            <li class="cat-item"><a href="/blog/tag/essential%20oil%20101">Essential Oil 101</a>
            </li>
            <li class="cat-item"><a href="/blog/tag/household">Household</a>
            </li>
            <li class="cat-item"><a href="/blog/tag/PT+News">PT News</a>
            </li>
            <li class="cat-item "><a href="/blog/tag/Self+Care+%26amp%3B+Wellness">Self Care &amp; Wellness</a>
            </li>
            </ul>
    </div>

    <div class="blog-body">
    {{#each blog.posts}}
        {{> components/blog/post post=this}}
    {{/each}}
    </div>
    

    {{> components/common/paginator pagination.blog}}
</main>

{{/partial}}
{{> layout/base}}
