// =============================================================================
// BODY (CSS)
//
// 1. Header is fixed on small screens, use the content body to create the whitespace
//    between it and the header on all situations. If you change the spacing here,
//    please update .heroCarousel too.
//
// =============================================================================


.body {
    margin-bottom: spacing("double") * 2;
    //margin-top: spacing("single"); // 1
    margin-top: 4.1rem;

    @include breakpoint("medium") {
        margin-top: spacing("single") + spacing("base"); // 1
    }
}


.page {
    @include grid-row(
        $behavior: nest
    );
}

.page-content,
.page-content--full {
    @include grid-column(12);
}

.page-content--centered {

    @include breakpoint("medium") {
        @include grid-column(
            $columns: 8,
            $center: true
        );
    }
}

.page-content--textCenter {
    text-align: center;
}

.page-sidebar {
    @include grid-column(12);
    position: relative;

    @include breakpoint("medium") {
        @include grid-column(3);

        + .page-content {
            @include grid-column(9);
        }
    }
}


//-----------------
// Home Page Custom SCSS
//-----------------
.homepage--planting-kindess-ticker {
    min-height: 50px;
    background-color: $color-ptlightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 50px;
    text-align: center;
    p {
        margin-bottom: 0;
        span, a {
            font-weight: 700;
            white-space: nowrap;
        }
        
    }
}
.homepage--body-category-nav {
    background: $color-pttan;
    padding: 40px 0;
    display: flex;
    justify-content: center;
    align-items: stretch;
    margin-bottom: 50px;
    text-align: center;
    flex-wrap: wrap;
    a {
        width: 90px;
        text-decoration: none;
        margin: 15px 1vw;
        span {
            height: 60px;
            width: 60px;
            padding: 10px;
            margin: 10px auto 15px;
            border: 1px solid $color-ptgreen;
            border-radius: 50%;
            display: block;
            background-color: #FFF;
        }
        &:hover {
            color: $color-ptred;
            span {
                border-color: $color-ptred;
            }
        }
    }

    @include breakpoint("medium") {
        justify-content: space-evenly;
        a {
            text-align: center;
            display: block;
            width: 120px;

       
            span {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 15px;
                height: 118px;
                width: 118px;

            }

        }
    }
}

.homepage--featured {
    h2 {
        font-size: 38px;
        text-align: center;
        
    }
}
.tabs {
    &.home-products {
        margin-top: 30px;
        display: flex;
        justify-content: center;
        border-bottom: 0;
        
        li.tab {
           background-color: $color-pttan;
           padding: 0 20px;
           a {
               color: $color-graygreen;
           }
           &:first-child {
               border-radius: 22px 0 0 22px;
           }
           &:last-child {
                border-radius: 0 22px 22px 0;
           }
           &.is-active {
               border: 0;
               background-color: $color-graygreen;
               border-radius: 22px;
         
               a {
                   color: #FFF;
                   font-weight: 400;
               }
           }
        }
    }
}
.tab-content {
    .page-heading {
        display: none;
    }
    .slick-next, .slick-prev {
        border-color: $color-ptgreen;
    }
}

.homepage--ingredients {
    text-align: center;
    background: url('//cdn.planttherapy.com/images/web/BC/homepage/homepage-ingredients-bg-mobile.png') bottom center no-repeat $color-pttan;
    background-size: cover;
    padding: 50px 20px 80px;
    
    margin-top: 80px;
    @include breakpoint("medium") {
        background: url('//cdn.planttherapy.com/images/web/BC/homepage/homepage-ingredients-bg-desktop.png') top center no-repeat $color-pttan;
        background-size: cover;
        min-height: 1110px;
    }
    h2 {
        font-size: 38px;
    }
    p {
        max-width: 700px;
        margin: 20px auto;
        font-size: 1.3rem;
    }
    .ingredient-scroller {
        position: relative;
        .slick-next, .slick-prev {
            top: 40px;
        }
        @include breakpoint("medium") {
            display: none;
        }
    }
     .ingredients__tabholder {
         position: relative;
         overflow-x: hidden;
         margin: 0 auto;
         padding-top:40px;
         
         @include breakpoint("medium") {
            min-height: 800px;
            padding-top: 0;
        }

         .tabs {
             border-bottom: 0;
             display: flex;
             flex-wrap: nowrap;
             //justify-content: center;
             //align-items: stretch;
             overflow: auto;
             white-space: nowrap;
             margin: 0;
     
             @include breakpoint("medium") {
                display: block;
                overflow: hidden;
            }
         }
         .tab {
            
            border: 0;
            width: 90px;
            margin: 0 10px;
            a {
                display: block;
                text-decoration: none;
                margin: 15px;
                border:0;
                text-align: center;
                i {
                    display: none;
                }
                
                span {
                    height: 90px;
                    width: 90px;
                    padding: 10px;
                    //margin: 10px auto 15px;
                    border: 1px solid $color-ptgreen;
                    border-radius: 50%;
                    display: block;
                    background-color: #FFF;
                    img {
                        height: 50px;
                        margin-top: 10px;
                    }
                }
                &:hover  {
                    color: $color-ptred;
                    span {
                        border-color: $color-ptred;
                    }
                }

            }
            &.is-active {
                a {
                    color: $color-ptred;
                    span {
                        border-color: $color-ptred;
                    }
                }
            }

            @include breakpoint("medium") {
                position: absolute;
                a {
                    text-align: center;
                    display: block;
                    width: 120px;
                    i {
                        display: block;
                        font-style: normal;
                        white-space: normal;
                    }
               
                    span {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin-bottom: 15px;
                        height: 118px;
                        width: 118px;
                        img {
                            height: auto;
                        }
                    }
        
                }
                &.co {
                    top: 0px;
                    left: calc(50% - 200px);
                }
                &.eo {
                    top: 0px;
                    left: calc(50% + 50px);
                }
                &.oi {
                    top: 210px;
                    left: calc(50% + 217px);
                }
                &.pi {
                    top: 210px;
                    left: calc(50% - 378px);
                }
                &.ev {
                    top: 494px;
                    left: calc(50% - 325px);
                }
                &.bu {
                    top: 494px;
                    left: calc(50% + 174px);
                }
                &.be {
                    top: 615px;
                    left: calc(50% - 78px);
                }
            }

         }
         .tabs-contents {
             display: flex;
             justify-content: center;
             align-items: center;
             
             @include breakpoint("medium") {
                margin-top: 180px;
             }
             
         }
         
        .tab-content {
            height: 420px;
            width: 420px;
            background-color: $color-pt-peach;
            border-radius: 50%;
            padding-top: 110px;
            margin-top: -135px;
            

            img {
                background: #FFF;
                border-radius: 50%;
                height: 80px;
                width: 80px;
                padding: 10px;
                display:none;
                
            }
            p {
                font-size: 13px;
                max-width: 300px;
            }
            @include breakpoint("medium") {
                padding-top: 50px;
                margin-top: 0;
                img {
                    display: inline;
                }
            }
        }
    }
}


.homepage--rewards {
    background: $color-graygreen;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 30px 20px;
    span {
        color: #FFF;
        font-size: 1.3rem;
        
        display: block;
        margin: 25px 0;
    }
    @include breakpoint("medium") {
        padding: 0;
        img {
            margin-bottom: 6px;
        }
        .container {
            display: flex;
            flex-direction: row;
            min-height: 100px;
            align-items: center;
            justify-content: space-between;
            .button {
                margin-bottom: 0;
            }
            .content {
                width: max-content;
                span {
                    padding-left: 30px; 
                    margin-left: 30px;
                    border-left: 1px solid $color-ptgreen;
                    white-space: nowrap;
                    display: inline;
                    line-height: 1rem;
                }

            }
        }
        
    }

}
.homepage--reviews {
    text-align: center;
    margin: 30px 30px 100px;
    h2 {
        font-size: 38px;
    }
}
.homepage--promotion {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    > div {
        border-radius: 5px;
    }
    h3 {
        font-size: 28px;
    }

    .homepage--promotion-left {
        //width: 30%;
        background: $color-ptlightblue;
        text-align: center;
        padding: 20px;
        min-height: 440px;
    }
    .homepage--promotion-right {
        background: url('//cdn.planttherapy.com/images/web/BC/homepage/homepage--promo-OOTM-bg-mobile.png') bottom center no-repeat;
        background-size: cover;
        //width: 65%;
        display: flex;
        justify-content: left;
        align-items: flex-start;
        min-height: 440px;
        margin-top: 40px;
        div {
            max-width: 280px;
            margin-left: 10%;
        }
    }
    @include breakpoint("medium") {
        flex-direction: row;
        justify-content: space-between;
        align-items: stretch;
        min-height: 440px;
        .homepage--promotion-left {
            width: 30%;
            background: $color-ptlightblue;
            text-align: center;
            padding: 20px;
        }
        .homepage--promotion-right {
            background: url('//cdn.planttherapy.com/images/web/BC/homepage/homepage--promo-OOTM-bg-desktop.jpg') left center no-repeat;
            background-size: cover;
            width: 65%;
            display: flex;
            justify-content: left;
            align-items: center;
            min-height: 440px;
            margin-top: 0;
            div {
                max-width: 280px;
                margin-left: 10%;
            }
        }
    }
}
.homepage--about {
    display: flex;
    padding: 80px 20px;
    margin: 50px 0;
    background: url('//cdn.planttherapy.com/images/web/BC/homepage/homepage-about-bg-mobile.png') center top no-repeat $color-pttan;
    background-size: cover;

    h2 {
        font-size: 38px;
        span {
            display: block;
            font-size: 22px;
        }
    }
    .row {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 50px;
        > div {
             
            p {
                max-width: 400px;
            }
        }
        &.reverse {
            //flex-direction: row-reverse;
        }
        &.about {
            img {
                padding: 30px;
                border: 1px solid $color-ptgreen;
                border-radius: 50%;
            }
        }
    }
    @include breakpoint("medium") {
        background: url('//cdn.planttherapy.com/images/web/BC/homepage/homepage-about-bg-desktop.png') center top no-repeat;
        background-size: cover;
        flex-direction: row;
        .row {
            > div {
                width: 45%;
            }
            flex-direction: row;
            &.reverse {
                flex-direction: row-reverse;
            }
        }
    }
}