<section class="heroCarousel" data-slick='{
        "arrows": {{arrows}},
        "mobileFirst": true,
        "slidesToShow": 1,
        "slidesToScroll": 1,
        "autoplay": false,
        "autoplaySpeed": {{carousel.swap_frequency}},
        "slide": "[data-hero-slide]"
    }'>
    <div data-hero-slide="1">
        <a href="https://www.planttherapy.com/seasonal" target="_self">
            <picture>
                <source
                    srcset="https://www.planttherapy.com/mm5/graphics/00000001/PlantTherapy-Summer2021-HomePage-Desktop-Launch.jpg"
                    media="(min-width: 1024px)">
                <source
                    srcset="https://www.planttherapy.com/mm5/graphics/00000001/PlantTherapy-Summer2021-HomePage-Tablet-Launch.jpg"
                    media="(min-width: 600px)">
                <source
                    srcset="https://www.planttherapy.com/mm5/graphics/00000001/PlantTherapy-Summer2021-HomePage-Mobile-Launch.jpg"
                    media="(max-width: 599px)"> <img
                    src="https://www.planttherapy.com/mm5/graphics/00000001/PlantTherapy-Summer2021-HomePage-Desktop-Launch.jpg"
                    class=""
                    alt="Sunny Days Ahead - Experience summer with new blends, soaps, lotions and more! - Shop Now">
            </picture>
        </a>
    </div>
    <div data-hero-slide="2">
        <a href="https://www.planttherapy.com/seasonal" target="_self">
            <picture>
                <source
                    srcset="https://www.planttherapy.com/mm5/graphics/00000001/PupPonyCBD-REFRESH-HomePage-Desktop.jpg"
                    media="(min-width: 1024px)">
                <source
                    srcset="https://www.planttherapy.com/mm5/graphics/00000001/PupPonyCBD-REFRESH-HomePage-Tablet.jpg"
                    media="(min-width: 600px)">
                <source
                    srcset="https://www.planttherapy.com/mm5/graphics/00000001/PupPonyCBD-REFRESH-HomePage-Mobile.jpg"
                    media="(max-width: 599px)"> <img
                    src="https://www.planttherapy.com/mm5/graphics/00000001/PupPonyCBD-REFRESH-HomePage-Desktop.jpg"
                    class=""
                    alt="Sunny Days Ahead - Experience summer with new blends, soaps, lotions and more! - Shop Now">
            </picture>
        </a>
    </div>
    <div data-hero-slide="3">
        <a href="https://www.planttherapy.com/seasonal" target="_self">
            <picture>
                <source
                    srcset="https://www.planttherapy.com/mm5/graphics/00000001/PlantingKindness-MAY-HomePage-Desktop.jpg"
                    media="(min-width: 1024px)">
                <source
                    srcset="https://www.planttherapy.com/mm5/graphics/00000001/PlantingKindness-MAY-HomePage-Tablet.jpg"
                    media="(min-width: 600px)">
                <source
                    srcset="https://www.planttherapy.com/mm5/graphics/00000001/PlantingKindness-MAY-HomePage-Mobile.jpg"
                    media="(max-width: 599px)"> <img
                    src="https://www.planttherapy.com/mm5/graphics/00000001/PlantingKindness-MAY-HomePage.jpg"
                    class=""
                    alt="Sunny Days Ahead - Experience summer with new blends, soaps, lotions and more! - Shop Now">
            </picture>
        </a>
    </div>

</section>